.GithubTitle {
    text-align: left;
    margin-left: 1%;
    margin-top: 5%;
}

.GithubLink {
    text-align: left;
    margin-left: 1%;
    
}

.MLProjectsTitle {
    text-align: left;
    margin-left: 1%;
}

.MLProjects {
    text-align: left;
    margin-left: 1%;
    
}

.HPS_Title {
    text-align: left;
    margin-left: 1%;
}

.HPS_Work {
    text-align: left;
    margin-left: 1%;
}

.SMS_Title {
    text-align: left;
    margin-left: 1%;
}

.SMS_Projects {
    text-align: left;
    margin-left: 1%;
}